@charset "UTF-8";

body {
    background: #c6d090;
    padding: 80px 0 0 0;
}

body, input, button {
    font-family: 'Inconsolata', monospace;
}

header {
    width: 100%;
    height: 80px;
    min-width: 250px;
    position: fixed;
    padding: 15px;
    top: 0;
    left: 0;
    z-index: 5;

    background: #0F634A;
    box-shadow: 0px 2px 4px cadetblue;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#siform {
    width: 100%;
    height: 50px;
    float: left;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-indent: 18px;
    padding: 0 60px 0 0;
    background: rgba(255, 255, 255, 0.2);

    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 0px;
    box-shadow: none;
    outline: none;

    -webkit-appearance: none;
    -moz-appearance: none;
}

/*styl okna wprowadzania zadan*/
header input {
    width: 50%;
    height: 50px;
    float: left;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-indent: 18px;
    padding: 0 60px 0 0;
    background: rgba(255, 255, 255, 0.2);

    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 0px;

    box-shadow: none;
    outline: none;

    -webkit-appearance: none;
    -moz-appearance: none;
}

#datepicker {
    width: 30%;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

}

#item {
    width: 70%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

header input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.75);
}

header input:-moz-input-placeholder {
    color: rgba(255, 255, 255, 0.75);
}

header input::-moz-input-placeholder {
    color: rgba(255, 255, 255, 0.75);
}

header input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.75);
}

header button {
    width: 50px;
    height: 50px;

    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2;

    border-radius: 25px;
    background: #fff;
    border: 0px;
    box-shadow: none;
    outline: none;
    cursor: pointer;

    -webkit-appearance: none;
    -moz-appearance: none;
}

header button svg {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -16px 0 0 -16px;
}

header button svg .fill {
    fill: #0F634A;

}

.container {
    width: 100%;
    float: left;
    padding: 15px;
}

ul.todo {
    width: 100%;
    float: left;
}

ul.todo li {
    width: 100%;
    min-height: 50px;
    min-width: 300px;
    float: left;
    font-size: 14px;
    font-weight: 500;
    color: #444;
    line-height: 22px;

    background: #fff;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 2px rgba(44, 62, 80, 0.10);
    margin: 0 0 10px 0;
    padding: 14px 100px 14px 14px;
    word-break: break-word;
}

ul.todo li:last-of-type {
    margin: 0;
}

ul.todo li.buttons {
    width: 100px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
}

#logbtn {
    width: 25%;
    min-width: 25%;
    align-items: center;
}

#siText {
    margin: auto;
    background-color: #f1c3a8;
    position: absolute;
    left: 25%;
    width: 50%;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

}

ul.todo li .buttons button {
    width: 50px;
    height: 50px;
    float: right;
    background: none;
    position: relative;
    border: 0px;
    box-shadow: none;
    outline: none;
    cursor: pointer;

    -webkit-appearance: none;
    -moz-appearance: none;
}

ul.todo li .buttons button:last-of-type:before {
    content: '';
    width: 1px;
    height: 30px;
    background: #edf0f1;

    position: absolute;
    top: 10px;
    left: 0;
}

#logoutBtn {
    height: 30px;
    width: 80px;
    background: #0F634A;
    color: white;
    float: right;
    font-style: italic;
    text-align: center;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 0px;
    margin: auto;
}

.logborder {
    min-width: 277px;
    max-width: 370px;
    color: #6d3c3a;
    border: dotted;
    border-width: 2px;
    width: 30%;
    border-color: #c9b7ab;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin: auto;
    padding: 10px;
}

.innerFrame {
    margin: auto;
    border: 3px solid #73AD21;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: 10px;
}

ul.todo li .buttons button svg {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -11px 0 0 -11px;
}

ul.todo li .buttons button.complete svg {
    border-radius: 11px;
    border: 1.5px solid #25b99a;
    transition: background 0.2s ease;
}

ul.todo#completed li .buttons button.complete svg {
    background: #25b99a;
    border: 0px;
}

ul.todo:not(#completed) li .buttons button.complete:hover svg {
    background: rgba(37, 185, 154, 0.75);
}

ul.todo:not(#completed) li .buttons button.complete:hover svg .fill {
    fill: #fff;
}

ul.todo#completed li .buttons button.complete svg .fill {
    fill: #fff;
}

ul.todo li .buttons button svg .fill {
    transition: fill 0.2s ease;
}

ul.todo li .buttons button.remove svg .fill {
    fill: #c0cecb;
}

ul.todo li .buttons button.remove:hover svg .fill {
    fill: #e85656;
}

ul.todo li .buttons button.complete svg .fill {
    fill: #25b99a;
}

ul.todo#completed {
    position: relative;
    padding: 60px 0 0 0;
}

ul.todo#completed:empty:after {
    content: 'You have yet to complete any tasks.';
}

ul.todo#todo:after,
ul.todo#completed:after {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 12px;
    color: #aaa;
}

.texthead {
    font-style: italic;
    color: #073024;
    background-color: coral;
    text-align: center;
    width: 500px;
    height: 50px;
    padding: 15px;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 0px;
    margin: auto;
}

.welcome {
    alignment: top;
    color: pink;
    text-align: center;
    size: 20px;
    font-size: large;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5px auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    /* Position it in the top right corner outside of the modal */
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}